<%
  # META
  set_meta_tags :title => t('recruitment.index.meta'), :reverse => true
  set_meta_tags :description => '', :reverse => true
%>

<%= stylesheet_link_tag "recruitment/index", :media => "all" %>

<h1>recruitment page</h1>
