// Place all the styles related to the project controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container {
    display: none;
}

@media screen and (min-width: 961px) {

    .container-home {
        background-color: #162634;
        margin: auto;
        max-width: 1960px;
        overflow: hidden;
        padding-bottom: 100px;
        padding-top: 30px;
        .project-title {
            margin: auto;
            width: 100%;
            .project-h1 {
                color: #fff;
                font-weight: 500;
                text-align: center;
                font-family: serif;
                letter-spacing: 0.12em;
                font-size: 50px;
            }
        }
        .home-format {
            width: 70%;
            margin: auto;
            padding-top: 20px;
            padding-bottom: 20px;
            .discription {
                margin: auto;
                .disc1-container {
                    padding: 20px;
                    display: flex;
                    .disc1-container-flex {
                        margin: auto;
                        .disc1-imgb {
                            width: 300px;
                            height: auto;
                            .disc1-img {
                                width: 100%;
                                height: auto;
                                object-fit: cover;
                            }
                        }
                    }
                    .disc1-container-flex1 {
                        width: 100%;
                        .disc-title {
                            padding-left: 20px;
                            margin: auto;
                            .home-sub {
                                color: #fff;
                                font-weight: 400;
                                text-align: center;
                                font-family: serif;
                                letter-spacing: 0.12em;
                            }
                        }
                        .disc-text {
                            margin: auto;
                            width: 400px;
                            padding-left: 20px;
                            line-height: 1.5;
                            .disc {
                                color: #fff;
                                font-size: 20px;
                                font-family: serif;
                            }
                        }
                    }
                }
                .disc2-container {
                    padding: 40px 20px 40px;
                    display: flex;
                    .disc2-container-flex {
                        margin: auto;
                        .disc2-imgb {
                            width: 300px;
                            height: auto;
                            .disc1-img {
                                width: 100%;
                                height: auto;
                                object-fit: cover;
                            }
                        }
                    }
                    .disc2-container-flex1 {
                        width: 100%;
                        .disc-title {
                            margin: auto;
                            padding: 20px;
                            .home-sub {
                                color: #fff;
                                font-weight: 400;
                                text-align: center;
                                font-family: serif;
                                letter-spacing: 0.12em;
                            }
                        }
                        .disc-text {
                            margin: auto;
                            width: 400px;
                            padding-left: 20px;
                            line-height: 1.5;
                            .disc {
                                color: #fff;
                                font-size: 20px;
                                font-family: serif;
                            }
                        }
                    }
                }
            }
        }
        .insta-container {
            width: 100%;
            .disc-title {
                margin: auto;
                padding: 20px;
                padding-bottom: 4%;
                .home-sub {
                    color: #fff;
                    font-weight: 400;
                    text-align: center;
                    font-family: serif;
                    letter-spacing: 0.12em;
                }
            }
            .disc-text {
                display: flex;
                width: 70%;
                margin: 0 auto;
                justify-content: space-evenly;
                flex-wrap: wrap;
            }
        }
        .process-container {
            padding-top: 50px;
            .process-title {
                margin: auto;
                padding: 30px 20px;
                .project {
                    color: #fff;
                    font-weight: 400;
                    text-align: center;
                    font-family: serif;
                    letter-spacing: 0.12em;
                }
            }
            .process-imgb {
                padding: 20px;
                .process-img {
                    height: auto;
                    text-align: center;
                    .proc-img {
                        width: 300px;
                        height: auto;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}

// mobile here
@media screen and (max-width: 960px) {
    .container-home {
        background-color: #162634;
        min-width: 320px;
        overflow: hidden;
        padding-bottom: 10%;
        .project-title {
            display: none;
        }
        .home-format {
            width: 90%;
            margin: 0 auto;
            padding-top: 5%;
            .discription {
                .disc1-container {
                    display: flex;
                    flex-wrap: nowrap;
                    flex-direction: column-reverse;
                    align-items: center;
                    padding-bottom: 10%;
                    .disc1-container-flex {
                        .disc1-imgb {
                            width: 206px;
                            height: 100px;
                            img {
                                width: 206px;
                                height: 100px;
                                object-fit: cover;
                            }
                        }
                    }
                    .disc1-container-flex1 {
                        .disc-title {
                            text-align: center;
                            .home-sub {
                                color: #fff;
                                font-weight: 400;
                                text-align: center;
                                font-family: serif;
                                letter-spacing: 0.12em;
                                font-size: 2.2em;
                            }
                        }
                        .disc-text {
                            text-align: justify;
                            .disc {
                                color: #fff;
                                font-size: 1.2em;
                                line-height: 1.5;
                                font-family: serif;
                            }
                        }
                    }
                }
                .disc2-container {
                    display: flex;
                    flex-wrap: nowrap;
                    flex-direction: column;
                    align-items: center;
                    padding-bottom: 10%;
                    .disc2-container-flex {
                        .disc2-imgb {
                            width: 206px;
                            height: 100px;
                            .disc1-img {
                                width: 206px;
                                height: 100px;
                                object-fit: cover;
                            }
                        }
                    }
                    .disc2-container-flex1 {
                        .disc-title {
                            .home-sub {
                                color: #fff;
                                font-weight: 400;
                                text-align: center;
                                font-family: serif;
                                letter-spacing: 0.12em;
                                font-size: 2.2em;
                            }
                        }
                        .disc-text {
                            text-align: center;
                            .disc {
                                color: #fff;
                                font-size: 1.2em;
                                line-height: 1.5;
                                font-family: serif;
                            }
                        }
                    }
                }
            }
        }
        .insta-container {
            width: 100%;
            .disc-title {
                padding-bottom: 7%;
                .home-sub {
                    color: #fff;
                    font-weight: 400;
                    text-align: center;
                    font-family: serif;
                    letter-spacing: 0.12em;
                    font-size: 2.2em;
                }
            }
            .disc-text {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
        .process-container {
            width: 90%;
            margin: 0 auto;
            padding-top: 5%;
            .process-title {
                .project {
                    color: #fff;
                    font-weight: 400;
                    text-align: center;
                    font-family: serif;
                    letter-spacing: 0.12em;
                    font-size: 2.2em;
                }
            }
            .process-imgb {
                .process-img {
                    height: auto;
                    text-align: center;
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    .proc-img {
                        width: 119px;
                        height: auto;
                        object-fit: cover;
                        padding: 3%;
                    }
                }
            }
        }
    }
}