.collapse {
    padding-top: 1rem;
}

.section {
    h3 {
        font-size: 1.25rem;
    }
}

.under-images {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    img {
        width: 20%
    }
}

.section {
  padding: 3% 2%;
}

.sub-section {
    display: flex;
    flex-direction: column;
}
