.team-page {
    margin: 0% 10%;
}

.lead {
    display: flex;
    flex-direction: row;
    padding-bottom: 10%;

    img {
        width: 100%;
    }
}

.collapse-boxes {
    padding-top: 4%;
        
    button {
        background-color: transparent;
        border: none;
    }
}

.team {
    border-bottom: solid black;
}
