.team-page-content {
    margin: 2.5% 10%;
}

.lead {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 10%;
}

.lead-image {
    img {
        width: 50%;
    }
}

.collapse-boxes {
    padding: 4% 0%;
        
    button {
        background-color: transparent;
        border: none;
    }
}

.team {
    border-bottom: solid black;
}
