@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300&display=swap');

.container {
    display: none;
}

.lead {
    animation: lead-appear 1.3s ease-in-out forwards;
  }
  
  .lead2 {
    opacity: 0;
    transform: translateY(180px);
    animation: lead2-appear 1.3s ease-in-out forwards;
    animation-delay: 1.3s;
  }
  
  @keyframes lead-appear {
    0% {
      opacity: 0;
      transform: translateY(180px);
    }
    
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes lead2-appear {
    0% {
      opacity: 0;
      transform: translateY(180px);
    }
    
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .contact-desc {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .contact-desc.show {
    opacity: 1;
  }

@media screen and (min-width: 961px) {
    .team-page {
        background: linear-gradient(180deg, #161E34 6.11%, #438CC1 100%);
        margin: auto;
        max-width: 1960px;
        overflow: hidden;
        .team-page-content {
            width: 70%;
            margin: auto;
            padding-top: 5%;
            padding-bottom: 5%;
            .team-title {
                text-align: center;
                padding-bottom: 5%;
                h2 {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 50px;
                    line-height: 63px;
                    color: #F1FAFF;
                    animation: team-appear 2.5s ease-in-out;
                    animation-fill-mode: forwards;
                    opacity: 0;
                }
                @keyframes team-appear {
                    0% {
                        opacity: 0;
                        transform: translateY(0);
                    }
                
                    100% {
                        opacity: 1;
                        transform: translateY(0);
                    }
                }
            }
            .lead {
                display: flex;
                flex-wrap: nowrap;
                align-items: center;
                gap: 5%;
                flex-direction: row;
                padding-bottom: 3%;
                .lead-image {
                    width: 291px;
                    height: 339px;
                    img {
                        width: 291px;
                        height: 339px;
                        object-fit: cover;
                        border-radius: 15px;
                    }
                }
                .lead-text {
                    background: #4C7083;
                    width: 90%;
                    height: auto;
                    padding: 3%;
                    border-radius: 15px;
                    .title-box {
                        padding-bottom: 5%;
                        h3 {
                            font-family: 'Roboto';
                            font-style: normal;
                            font-weight: 300;
                            font-size: 30px;
                            line-height: 38px;
                            text-align: center;
                            color: #FFFFFF;
                        }
                    }
                    .text-box {
                        p {
                            font-family: 'Roboto';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 20px;
                            line-height: 27px;
                            text-align: justify;
                            color: #FFFFFF;
                        }
                    }
                }
            }
            .collapse-boxes {
                padding: 4% 0%;
                    
                button {
                    width: 100%;
                    background-color: transparent;
                    border: none;
                    p {
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 30px;
                        line-height: 38px;
                        text-align: left;
                        color: #FFFFFF;
                        margin-bottom: 0;
                        margin-top: 1rem;
                        a {
                            text-decoration: none !important;
                            color:#FFFF !important;
                        }
                    }
                }
            }
            .lead2 {
                display: flex;
                flex-wrap: nowrap;
                align-items: center;
                gap: 5%;
                flex-direction: row;
                padding-bottom: 3%;
                .lead-image {
                    width: 291px;
                    height: 339px;
                    img {
                        width: 291px;
                        height: 339px;
                        object-fit: cover;
                        border-radius: 15px;
                    }
                }
                .lead-text {
                    background: #4C7083;
                    width: 90%;
                    height: auto;
                    padding: 3%;
                    border-radius: 15px;
                    .title-box {
                        padding-bottom: 5%;
                        h3 {
                            font-family: 'Roboto';
                            font-style: normal;
                            font-weight: 300;
                            font-size: 30px;
                            line-height: 38px;
                            text-align: center;
                            color: #FFFFFF;
                        }
                    }
                    .text-box {
                        p {
                            font-family: 'Roboto';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 20px;
                            line-height: 27px;
                            text-align: justify;
                            color: #FFFFFF;
                        }
                    }
                }
            }
            .team {
                border-bottom: solid #ffffff;
            }
            .contact-desc {
                width: 70%;
                margin: 0 auto;
                text-align: center;
                padding-top: 10%;
                p {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 30px;
                    color: #F1FAFF;
                }
            }
        }
    }
}
@media screen and (max-width: 960px) {
    .team-page {
        background: linear-gradient(180deg, #161E34 6.11%, #438CC1 100%);
        margin: auto;
        min-width: 320px;
        overflow: hidden;
        .team-page-content {
            width: 95%;
            margin: auto;
            padding-top: 5%;
            padding-bottom: 5%;
            .team-title {
                text-align: center;
                padding-bottom: 5%;
                h2 {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 2.2em;
                    line-height: 63px;
                    color: #F1FAFF;
                    animation: team-appear 2.5s ease-in-out;
                    animation-fill-mode: forwards;
                    opacity: 0;
                }
                @keyframes team-appear {
                    0% {
                        opacity: 0;
                        transform: translateY(0);
                    }
                
                    100% {
                        opacity: 1;
                        transform: translateY(0);
                    }
                }
            }
            .lead {
                display: flex;
                flex-direction: column;
                align-items: center;
                flex-wrap: nowrap;
                .lead-image {
                    width: 130px;
                    height: 145px;
                    margin-bottom: 5%;
                    img {
                        width: 130px;
                        height: 145px;
                        object-fit: cover;
                        border-radius: 10px;
                    }
                }
                .lead-text {
                    background: #4C7083;
                    width: 90%;
                    height: auto;
                    padding: 3%;
                    border-radius: 15px;
                    .title-box {
                        padding-bottom: 5%;
                        h3 {
                            font-family: 'Roboto';
                            font-style: normal;
                            font-weight: 300;
                            font-size: 1.5em;
                            line-height: 38px;
                            text-align: center;
                            color: #FFFFFF;
                        }
                    }
                    .text-box {
                        p {
                            font-family: 'Roboto';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 1em;
                            line-height: 27px;
                            text-align: justify;
                            color: #FFFFFF;
                        }
                    }
                }
            }
            .lead2 {
                display: flex;
                flex-wrap: nowrap;
                align-items: center;
                flex-direction: column-reverse;
                padding-bottom: 3%;
                .lead-image {
                    width: 130px;
                    height: 145px;
                    margin-bottom: 5%;
                    img {
                        width: 130px;
                        height: 145px;
                        object-fit: cover;
                        border-radius: 10px;
                    }
                }
                .lead-text {
                    background: #4C7083;
                    width: 90%;
                    height: auto;
                    padding: 3%;
                    border-radius: 15px;
                    .title-box {
                        padding-bottom: 5%;
                        h3 {
                            font-family: 'Roboto';
                            font-style: normal;
                            font-weight: 300;
                            font-size: 1.5em;
                            line-height: 38px;
                            text-align: center;
                            color: #FFFFFF;
                        }
                    }
                    .text-box {
                        p {
                            font-family: 'Roboto';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 1em;
                            line-height: 27px;
                            text-align: justify;
                            color: #FFFFFF;
                        }
                    }
                }
            }
            .collapse-boxes {
                padding: 4% 0%;
                    
                button {
                    width: 100%;
                    background-color: transparent;
                    border: none;
                    p {
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 1.2em;
                        line-height: 38px;
                        text-align: left;
                        color: #FFFFFF;
                        margin-bottom: 0;
                        margin-top: 1rem;
                        a {
                            text-decoration: none !important;
                            color:#FFFF !important;
                        }
                    }
                }
            }
            .team {
                border-bottom: solid #ffffff;
            }
            .contact-desc {
                width: 70%;
                margin: 0 auto;
                text-align: justify;
                padding-top: 10%;
                p {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 1.2em;
                    line-height: 30px;
                    color: #F1FAFF;
                }
            }
        }
    }
}
