@media screen and (min-width: 961px) {
    .collapse,
    .aerostructures {
        hr {
            color: #F1FAFF;
        }
        .team-desc {
            width: 70%;
            margin: 0 auto;
            text-align: center;
            padding-top: 3%;
            padding-bottom: 3%;
            p {
                font-family: 'Nunito';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 27px;
                color: #FFFFFF;
            }
        }
        .subteam-text {
            width: 100%;
            p {
                font-family: 'Nunito';
                font-style: normal;
                font-weight: 400;
                font-size: 25px;
                line-height: 34px;
                color: #FFFFFF;
            }
        }
        .subteam-section {
            width: 100%;
            margin: 0 auto;
            .subteams {
                color: #F1FAFF;
                li {
                    .subteam-title {
                        padding-top: 2%;
                        padding-bottom: 2%;
                        h3 {
                            font-family: 'Playfair Display';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 25px;
                            line-height: 33px;
                            color: #F1FAFF;
                        }
                    }
                    .desc-sections {
                        width: 90%;
                        margin: 0 auto;
                        display: flex;
                        flex-wrap: nowrap;
                        flex-direction: column;
                        padding-bottom: 4%;
                        .subteam-desc {
                            text-align: justify;
                            p {
                                font-family: 'Nunito';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 20px;
                                line-height: 27px;
                                color: #FFFFFF;
                            }
                        }
                        .subteam-img {
                            display: flex;
                            flex-direction: row;
                            flex-wrap: nowrap;
                            justify-content: center;
                            gap: 5%;
                            padding-top: 3%;
                            img {
                                width: 248px;
                                height: 165px;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }
        }
        .intro-lead2 {
            padding-top: 3%;
            .intro-text2 {
                h3 {
                    font-family: 'Source Serif Pro';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 2em;
                    line-height: 48px;
                    color: #FFFFFF;
                }
            }
            .desc-sections3 {
                width: 100%;
                margin: 0 auto;
                display: flex;
                flex-wrap: nowrap;
                flex-direction: row;
                gap: 5%;
                align-items: center;
                padding-bottom: 3%;
                .subteam-desc3 {
                    p {
                        font-family: 'Nunito';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 1.2em;
                        line-height: 27px;
                        color: #FFFFFF;
                    }
                }
                .subteam-img3 {
                    margin-bottom: 3%;
                    img {
                        width: 177px;
                        height: 261px;
                        object-fit: cover;
                        border-radius: 15px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 960px) {
    .collapse,
    .aerostructures {
        hr {
            color: #F1FAFF;
        }
        .team-desc {
            width: 90%;
            margin: 0 auto;
            text-align: justify;
            padding-top: 3%;
            padding-bottom: 3%;
            p {
                font-family: 'Nunito';
                font-style: normal;
                font-weight: 400;
                font-size: 1.2em;
                line-height: 27px;
                color: #FFFFFF;
            }
        }
        .subteam-text {
            width: 100%;
            p {
                font-family: 'Nunito';
                font-style: normal;
                font-weight: 400;
                font-size: 1.2em;
                line-height: 34px;
                color: #FFFFFF;
            }
        }
        .subteam-section {
            width: 100%;
            margin: 0 auto;
            .subteams {
                color: #F1FAFF;
                li {
                    .subteam-title {
                        padding-top: 2%;
                        padding-bottom: 2%;
                        h3 {
                            font-family: 'Playfair Display';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 1.5em;
                            line-height: 33px;
                            color: #F1FAFF;
                        }
                    }
                    .desc-sections {
                        width: 90%;
                        margin: 0 auto;
                        display: flex;
                        flex-wrap: nowrap;
                        flex-direction: column;
                        padding-bottom: 4%;
                        .subteam-desc {
                            text-align: justify;
                            p {
                                font-family: 'Nunito';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 1.2em;
                                line-height: 27px;
                                color: #FFFFFF;
                            }
                        }
                    }
                }
            }
        }
        .intro-lead2 {
            padding-top: 3%;
            .intro-text2 {
                h3 {
                    font-family: 'Source Serif Pro';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 1.5em;
                    line-height: 48px;
                    color: #FFFFFF;
                }
            }
            .desc-sections3 {
                width: 100%;
                margin: 0 auto;
                display: flex;
                flex-wrap: nowrap;
                flex-direction: column-reverse;
                gap: 5%;
                align-items: center;
                padding-bottom: 3%;
                .subteam-desc3 {
                    p {
                        font-family: 'Nunito';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 1.2em;
                        line-height: 27px;
                        color: #FFFFFF;
                    }
                }
                .subteam-img3 {
                    margin-bottom: 3%;
                    img {
                        width: 130px;
                        height: 145px;
                        object-fit: cover;
                        border-radius: 10px;
                    }
                }
            }
        }
    }
}