.collapse {
    padding-top: 1rem;
}

.collapse-boxes {
    padding-top: 1rem;
}

.resources {
    h3 {
        font-size: 1.25rem;
    }
}

.lead {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 10%;

    .image-side {
        img {
            width: 50%;
        }
    }

    .text-side {
        padding: 0 5%;
    }

}

.subteam {
    padding-bottom: 1.2rem;
}