.resources {
    h3 {
        font-size: 1.25rem;
    }
}

.lead {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 10%;

    .image-side {
        img {
            width: 50%;
        }
    }

    .text-side {
        padding: 0 5%;
    }

}