.site-footer {
  background-color: #444b53;


  h3 {
    color: #fff;
  }

  p {
    color: #fff;
  }
}

.top-half {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex: 0 1 auto;

  .logo-side {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    img {
      width: 25%;
    }
  }

  .quick-links {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    ul {
      list-style-type: none;
    }
  
    a {
      color: #fff;
      text-decoration: none;
    }
  
    .links {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }

  .motto-side {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.bottom-half {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  
  .logos {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .sheffield-logo{
      width: 50%;

      img {
        width: 100%;
      }
    }

    .other-logos {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 50%;

      img {
        width: 30%;
      }
    }
  }

  .copyright {
    flex: 1;
  }

  .social-icons {
    flex: 1;

    ul {
      list-style-type: none;
      display: inline;
    }

    li {
      display: inline;
    }
  }
}



