.dropdown:hover .dropdown-menu{
    display: block;
}
.navbar-collapse{
    justify-content: flex-end;
    text-align: center;
}
.nav-link{
    --bs-navbar-nav-link-padding-x: 1.2rem;
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    padding-bottom: 3%;
}
.navbar{
    background-color: #444B53;
    position: sticky;
    top: 0px;
    z-index: 1;
    .dropdown-menu{
        margin: 0 auto;
        background-color: #444B53 !important;
        width: 80%;
        text-align: center;
        .dropdown-item {
            font-family: 'Source Serif Pro';
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 23px;
            padding: 2%;
        }
            :hover{
                color: #444B53 !important;
                background-color: #ababab !important;
            }
    }
    .container-fluid{
        --bs-gutter-x: 5vw !important;
    }
    a {
        text-decoration: none !important;
        color:#FFFF !important;
    }

}
