<%
  # META
  set_meta_tags :title => t('achievement.index.meta'), :reverse => true
  set_meta_tags :description => '', :reverse => true
%>

<%= stylesheet_link_tag "achievement/index", :media => "all" %>

<h1>achievement page</h1>
