<%
  # META
  set_meta_tags :title => t('contacts.create.h1'), :reverse => true
  set_meta_tags :description => '', :reverse => true
%>

<%= stylesheet_link_tag "contacts/create", :media => "all" %>

<div class="container">
  <div class="thanks">
    <h3 class="form-thankyou"><%= t 'contacts.create.thankyou' %></h3>
    <h3 class="form-thankyou"><%= t 'contacts.create.thankyou2' %></h3>
  </div>
</div>