@media screen and (min-width: 961px) {
    .container {
        .alert-success {
            margin-bottom: 0px;
        }
        .thanks {
            margin: auto;
            padding: 20px 20px;
            h3.form-thankyou {
                color: #fff;
                text-align: center;
                margin-bottom: 0px;
            }
        }
    }
}