// Place all the styles related to the achievement controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@media screen and (min-width: 961px) {

    .container-home {
        margin: auto;
        max-width: 1960px;
        overflow: hidden;
        padding-bottom: 100px;
        background: linear-gradient(180deg, #3B7AA8 0%, #1B3244 100%);
        .container-box {
            width: 100%;
            height: 437px;
            .show_video {
                height: 437px;
                width: 100%;
                video {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    opacity: 0.5;
                }
                background-color: black;
            }
            .achievement-title {
                width: 100%;
                height: auto;
                position: absolute;
                text-align: center;
                top: 37%;
                h1 {
                    font-family: 'Source Serif Pro';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 50px;
                    line-height: 63px;
                    color: #A8E1FF;
                }
            }
        }
        .container-form {
            width: 75%;
            height: 100%;
            margin: 0 auto;
            .rexus {
                margin: 0 auto;
                width: 100%;
                height: 20%;
                padding-bottom: 7%;
                padding-top: 7.5%;
                .rexus-h2 {
                    width: 128px;
                    height: 35px;
                    margin-left: 20%;
                    h2 {
                        font-family: 'Source Serif Pro';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 30px;
                        line-height: 38px;
                        text-align: center;
                        color: #FFFFFF;
                    }
                }
                .rexus-flex {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 15%;
                    justify-content: center;
                    .rexus-desc {
                        width: 60%;
                        height: 90%;
                        padding-top: 25px;
                        text-align: justify;
                        p {
                            font-family: 'Nunito';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 20px;
                            line-height: 27px;
                            color: #FFFFFF;
                        }
                    }
                    .rexus-pic {
                        img {
                            width: 243px;
                            height: 356px;
                            object-fit: cover;
                        }
                    }
                }
            }
            .fair {
                margin: 0 auto;
                width: 100%;
                height: auto;
                padding-bottom: 50px;
                background-color: #A8E1FF;
                box-shadow: 20px 15px 4px rgba(0, 0, 0, 0.25);
                border-radius: 15px;
                .fair-h2 {
                    padding-top: 30px;
                    padding-bottom: 2%;
                    h2 {
                        font-family: 'Source Serif Pro';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 30px;
                        line-height: 38px;
                        text-align: center;
                        color: #444B53;
                    }
                }
                .fair-flex {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 6%;
                    justify-content: center;
                    align-items: center;
                    margin: 0 auto;
                    width: 95%;
                    .fair-pic {
                        width: 309px;
                        height: 313px;
                        img {
                            width: 309px;
                            height: 313px;
                            object-fit: cover;
                            filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.25));
                            border-radius: 25px;
                        }
                    }
                    .fair-desc {
                        width: 50%;
                        height: 100%;
                        padding-top: 30px;
                        text-align: justify;
                        p {
                            font-family: 'Source Serif Pro';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 18px;
                            line-height: 23px;
                            color: #444B53;
                        }
                    }
                }
            }
            .sweden {
                margin: 0 auto;
                width: 100%;
                height: auto;
                margin-top: 5%;
                padding-bottom: 55px;
                background-color: #A8E1FF;
                box-shadow: -20px 15px 4px rgba(0, 0, 0, 0.25);
                border-radius: 15px;
                .sweden-h2 {
                    padding-top: 30px;
                    h2 {
                        font-family: 'Source Serif Pro';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 30px;
                        line-height: 38px;
                        text-align: center;
                        color: #444B53;
                    }
                }
                .sweden-flex {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    gap: 10%;
                    justify-content: center;
                    .sweden-video {
                        width: 392px;
                        height: 221px;
                        padding-top: 18px;
                        margin: 0 auto;
                        video {
                            width: 392px;
                            height: 221px;
                            object-fit: cover;
                            filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.25));
                        }
                    }
                    .sweden-desc {
                        width: auto;
                        height: auto;
                        padding-top: 30px;
                        text-align: center;
                        p {
                            font-family: 'Source Serif Pro';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 18px;
                            line-height: 23px;
                            color: #444B53;
                        }
                    }
                }
            }
            .test-rig {
                margin: 0 auto;
                width: 100%;
                padding-bottom: 7%;
                padding-top: 10%;
                .test-h2 {
                    width: auto;
                    height: auto;
                    padding-bottom: 5%;
                    h2 {
                        font-family: 'Source Serif Pro';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 30px;
                        line-height: 38px;
                        text-align: center;
                        color: #FFFFFF;
                    }
                }
                .test-flex {
                    display: flex;
                    flex-wrap: nowrap;
                    justify-content: center;
                    flex-direction: row;
                    gap: 15%;
                    align-items: center;
                    .test-desc {
                        width: 60%;
                        height: 90%;
                        align-content: center;
                        text-align: justify;
                        display: grid;
                        p {
                            font-family: 'Nunito';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 20px;
                            line-height: 27px;
                            color: #FFFFFF;
                        }
                    }
                    .test-pic {
                        .img-flex {
                            display: flex;
                            flex-wrap: wrap;
                            img {
                                width: 392px;
                                height: 221px;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }
            .rig-update {
                margin: 0 auto;
                width: 100%;
                height: 20%;
                padding-bottom: 7%;
                .update-h2 {
                    width: auto;
                    height: auto;
                    text-align: center;
                    padding-bottom: 5%;
                    h2 {
                        font-family: 'Source Serif Pro';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 30px;
                        line-height: 38px;
                        color: #FFFFFF;
                    }
                }
                .update-flex {
                    display: flex;
                    flex-wrap: nowrap;
                    gap: 15%;
                    justify-content: center;
                    .update-desc {
                        width: 60%;
                        height: 90%;
                        padding-top: 7%;
                        text-align: justify;
                        p {
                            font-family: 'Nunito';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 20px;
                            line-height: 27px;
                            color: #FFFFFF;
                        }
                    }
                    .update-pic {
                        img {
                            width: 243px;
                            height: 310px;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
    }
}

// mobile here
@media screen and (max-width: 960px) {
    .container-home {
        min-width: 320px;
        overflow: hidden;
        background: linear-gradient(180deg, #3B7AA8 0%, #1B3244 100%);
        padding-bottom: 10%;
        .container-box {
            width: 100%;
            height: 220px;
            .show_video {
                width: 100%;
                height: 220px;
                video {
                    width: 100%;
                    height: 220px;
                    object-fit: cover;
                    opacity: 0.5;
                }
                background-color: black;
            }
            .achievement-title {
                width: 100%;
                height: auto;
                text-align: center;
                margin-top: -8em;
                h1 {
                    font-family: 'Source Serif Pro';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 2.2em;
                    line-height: 63px;
                    color: #A8E1FF;
                }
            }
        }
        .container-form {
            width: 90%;
            margin: 0 auto;
            .rexus {
                padding-top: 10%;
                .rexus-h2 {
                    h2 {
                        text-align: center;
                        font-family: 'Source Serif Pro';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 2.2em;
                        line-height: 38px;
                        text-align: center;
                        color: #FFFFFF;
                    }
                }
                .rexus-flex {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column-reverse;
                    align-items: center;
                    .rexus-pic {
                        img {
                            width: 171px;
                            height: 251px;
                            object-fit: cover;
                        }
                    }
                    .rexus-desc {
                        padding-bottom: 5%;
                        text-align: justify;
                        p {
                            font-family: 'Nunito';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 1.2em;
                            line-height: 27px;
                            color: #FFFFFF;
                        }
                    }
                }
            }
            .fair {
                background-color: #A8E1FF;
                box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
                border-radius: 10px;
                padding-bottom: 5%;
                margin-bottom: 7%;
                .fair-h2 {
                    margin: 0 auto;
                    padding-top: 3%;
                    padding-bottom: 5%;
                    text-align: center;
                    width: 90%;
                    h2 {
                        font-family: 'Source Serif Pro';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 2.2em;
                        line-height: 38px;
                        text-align: center;
                        color: #444B53;
                    }
                }
                .fair-flex {
                    display: flex;
                    flex-wrap: nowrap;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    .fair-pic {
                        width: 250px;
                        height: 155px;
                        img {
                            width: 250px;
                            height: 155px;
                            object-fit: cover;
                            filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.25));
                            border-radius: 10px;
                        }
                    }
                    .fair-desc {
                        padding-top: 5%;
                        text-align: justify;
                        width: 90%;
                        margin: 0 auto;
                        p {
                            font-family: 'Source Serif Pro';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 1.1em;
                            line-height: 23px;
                            color: #444B53;
                        }
                    }
                }
            }
            .sweden {
                background-color: #A8E1FF;
                box-shadow: -10px 10px 4px rgba(0, 0, 0, 0.25);
                border-radius: 10px;
                padding-bottom: 10%;
                margin-bottom: 5%;
                .sweden-h2 {
                    margin: 0 auto;
                    padding-top: 3%;
                    padding-bottom: 5%;
                    text-align: center;
                    width: 90%;
                    h2 {
                        font-family: 'Source Serif Pro';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 2.2em;
                        line-height: 38px;
                        text-align: center;
                        color: #444B53;
                    }
                }
                .sweden-flex {
                    display: flex;
                    flex-wrap: nowrap;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    .sweden-video {
                        width: 250px;
                        height: 141px;
                        padding-top: 2%;
                        video {
                            width: 250px;
                            height: 141px;
                            object-fit: cover;
                            filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.25));
                        }
                    }
                    .sweden-desc {
                        text-align: center;
                        width: 90%;
                        margin: 0 auto;
                        p {
                            font-family: 'Source Serif Pro';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 1.1em;
                            line-height: 23px;
                            color: #444B53;
                        }
                    }
                }
            }
            .test-rig {
                .test-h2 {
                    padding-top: 5%;
                    text-align: center;
                    padding-bottom: 5%;
                    h2 {
                        font-family: 'Source Serif Pro';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 2.2em;
                        line-height: 38px;
                        text-align: center;
                        color: #FFFFFF;
                    }
                }
                .test-flex {
                    display: flex;
                    flex-wrap: nowrap;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    .test-pic {
                        width: 174px;
                        height: 124px;
                        .img-flex {
                            display: flex;
                            flex-wrap: nowrap;
                            flex-direction: row;
                            justify-content: center;
                            img {
                                width: 174px;
                                height: 124px;
                                object-fit: cover;
                            }
                        }
                    }
                    .test-desc {
                        padding-top: 5%;
                        text-align: justify;
                        p {
                            font-family: 'Nunito';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 1.2em;
                            line-height: 27px;
                            color: #FFFFFF;
                        }
                    }
                }
            }
            .rig-update {
                .update-h2 {
                    padding-top: 5%;
                    text-align: center;
                    padding-bottom: 5%;
                    h2 {
                        font-family: 'Source Serif Pro';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 2.2em;
                        line-height: 38px;
                        text-align: center;
                        color: #FFFFFF;
                    }
                }
                .update-flex {
                    display: flex;
                    flex-wrap: nowrap;
                    flex-direction: column-reverse;
                    align-items: center;
                    .update-pic {
                        img {
                            width: 174px;
                            height: 124px;
                            object-fit: cover;
                        }
                    }
                    .update-desc {
                        padding-top: 5%;
                        text-align: justify;
                        p {
                            font-family: 'Nunito';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 1.2em;
                            line-height: 27px;
                            color: #FFFFFF;
                        }
                    }
                }
            }
        }
    }
}