<%
  # META
  set_meta_tags :title => t('project.index.meta'), :reverse => true
  set_meta_tags :description => '', :reverse => true
%>

<%= stylesheet_link_tag "project/index", :media => "all" %>

<h1>project page</h1>
