<div id='aerostructures' class="collapse">
  <p>The structural design team is responsible for designing and optimizing the glider's structural and aerodynamic components.</p>
  <h3>This team is sectioned into other sub-teams:</h3>
  <div>
    <div class="collapse-boxes">
      <div class="aerostructures-section">
        <div>
            <button class="link-button" data-toggle="collapse" data-target="#aerostructures" aria-expanded="true" aria-controls="outreach">
              Aerostructures
            </button>
        </div>
        <p id="aerostructures">The structural design team is responsible for developing the glider's framework, which includes the wings, fuselage, and other structural components. They use computer-aided design (CAD) software to model and simulate different design options and materials to ensure the glider is lightweight and strong enough to withstand the stresses of high-altitude flight. The team also works closely with the avionics team to integrate electrical circuits and other components into the structure of the glider.</p>
      </div>
      <div class="aerodynamics-section">
        <div>
            <button class="link-button" data-toggle="collapse" data-target="#aerodynamics" aria-expanded="true" aria-controls="outreach">
              Aerodynamics
            </button>
        </div>
        <p id="aerodynamics">The aerodynamic design team works closely with the structural design team to optimize the glider's shape and profile for optimal performance. They use computational fluid dynamics (CFD) software to analyze the airflow around the glider and make adjustments to improve lift, reduce drag, and increase efficiency. The team also focuses on ensuring the glider is stable and maneuverable at high altitudes, where the air density is low and the atmosphere behaves differently than at lower altitudes.</p>
      </div>
      <div class="manufacturing-section">
        <div>
            <button class="link-button" data-toggle="collapse" data-target="#manufacturing" aria-expanded="true" aria-controls="outreach">
              Manufacturing
            </button>
        </div>
        <div id="manufacturing">
          <p>The manufacturing team is responsible for taking the designs created by the structural and aerodynamic design team. The team works closely with the design team to ensure that the final product meets the required specifications and is both lightweight and strong enough to withstand the stresses of high-altitude flight.</p>
          <p>The manufacturing team's responsibilities include selecting the appropriate materials for each component of the glider, creating detailed production plans, and supervising the assembly process. They also work to ensure that the manufacturing process is efficient and cost-effective while maintaining high levels of quality control.</p>
        </div>
      </div>
    </div>
  </div>
</div>