<%= stylesheet_link_tag "team/resources", :media => "all" %>

<div id='resources' class="collapse">
  <p>The resource team for the SunStratos project is responsible for managing a wide range of activities that support the overall success of the project. This team is made up of individuals who specialize in marketing, finance, outreach, social media, and event organization.</p>
  <h3>This team is sectioned into other sub-teams:</h3>
  <div class="collapse-boxes">
    <ul class="subteams">
      <div class="outreach-section subteam">
      <div>
        <li>
          <button class="link-button" data-toggle="collapse" data-target="#outreach" aria-expanded="true" aria-controls="outreach">
            <h3>Outreach</h3>
          </button>
        </li>
      </div>
      <p id="outreach">The outreach team is responsible for building relationships with key stakeholders and engaging with the public to generate support for the project. This includes reaching out to schools, universities, and other organizations to raise awareness of the project and its goals.</p>
    </div>
    <div class="social-media-section subteam">
      <div>
        <li>
          <button class="link-button" data-toggle="collapse" data-target="#socialmedia" aria-expanded="true" aria-controls="outreach">
            <h3>Social Media</h3>
          </button>
        </li>
      </div>
      <p id="socialmedia">The social media team is responsible for managing the project's social media accounts, creating engaging content, and responding to comments and questions from followers. They work closely with the web development team to ensure that the project's social media presence is aligned with the website and other promotional materials.</p>
    </div>
    <div class="event-organisation-section subteam">
      <div>
        <li>
          <button class="link-button" data-toggle="collapse" data-target="#eventorganisation" aria-expanded="true" aria-controls="outreach">
            <h3>Event Organisation</h3>
          </button>
        </li>
      </div>
        <p id="eventorganisation">The event organization team is responsible for planning and executing events related to the SunStratos project, such as launch events and fundraising events. They work closely with the other teams to ensure that these events are well-organized and successful.</p>
      </div>
    </ul>
  </div>
  <h3>Meet our Resources team lead:</h3>
  <div class="lead">
    <div class="text-side">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="image-side">
      <%= image_tag "leads/aryan.JPG" %>    
    </div>
  </div>
</div>