<% content_for :head do %>
  <%= stylesheet_link_tag "team/aerostructure", :media => "all" %>
<% end %>
<%
  # META
  set_meta_tags :title => t('team.aerostructure.meta'), :reverse => true
  set_meta_tags :description => '', :reverse => true
%>
<%= link_to 'Our Team', team_path %>
<h1>aerostrucuture page</h1>