<%
  # META
  set_meta_tags :title => t('team.aerostructure.meta'), :reverse => true
  set_meta_tags :description => '', :reverse => true
%>

<%= stylesheet_link_tag "team/aerostructure", :media => "all" %>

<%= link_to 'Our Team', team_path %>
<h1>aerostrucuture page</h1>