<%= link_to t('navbar.title.teams.team1'), team_aerostructures_path %>
<%= link_to t('navbar.title.teams.team2'), team_avionics_path %>
<%= link_to t('navbar.title.teams.team3'), team_resources_path %>
<%= link_to t('navbar.title.teams.team4'), team_webdevelopers_path %>

<h1>team page</h1>
