<%
  # META
  set_meta_tags :title => t('team.resources.meta'), :reverse => true
  set_meta_tags :description => '', :reverse => true
%>

<%= stylesheet_link_tag "team/resources", :media => "all" %>

<%= link_to 'Our Team', team_path %>
<h1>C page</h1>