<% content_for :head do %>
  <%= stylesheet_link_tag "contact/index", :media => "all" %>
<% end %>
<%
  # META
  set_meta_tags :title => t('contact.index.h1'), :reverse => true
  set_meta_tags :description => '', :reverse => true
%>
<div class="cont">
  <div class="map">
  <p>Google Map Link you can insert here<p>
  </div>
  <div class="contact-form">
    <h1 class="title"><%= t('contact.index.h1') %></h1>
    <h2 class="subtitle"><%= t('contact.index.h2') %></h2>
    <%= render 'contact_form' %>
  </div>
</div>
